@use "sass:map";
@use "sass:list";
@use "sass:math";
@use "sass:meta";

@use "./maps.scss" as *;
@use "./lists.scss" as *;
@use "./mixins.scss" as *;
@use "./functions.scss" as *;

@each $item in $text-list {
  $name: list.nth($item, 1);
  $font-family: list.nth($item, 2);
  $font-weight: list.nth($item, 3);
  $font-style: list.nth($item, 4);
  $color-name: list.nth($item, 5);
  $line-height: list.nth($item, 6);
  $font-size: list.nth($item, 7);
  $desktop-font-size: list.nth($item, 8);

  %#{$name} {
    font-family: $font-family;
    font-weight: font-weight($font-weight);
    font-style: $font-style;
    font-size: $font-size;
    line-height: $line-height;
    color: color($color-name);
    @if $font-size != $desktop-font-size {
      @include respond-to(desktop) {
        font-size: $desktop-font-size;
      }
    }
  }
}

%container {
  @include size(default, 335px);
  @include spacing(margin, x, auto);
  @include respond-to(desktop) {
    @include size(default, 1200px);
  }
}

%shared_button-black {
  background-color: color(neutral-100);
  border-radius: 100px;
  @include border(all, 1px, solid, color(neutral-100));
  @include button-effect("black");
}

%shared_button-white {
  background-color: color(neutral-10);
  border-radius: 100px;
  @include border(all, 1px, solid, color(neutral-10));
  @include button-effect("white");
}

%shared_button-arrow-active {
  background-color: color(neutral-100);
  color: color(neutral-10);
  border-radius: 100px;
  @include flex(true, $align-items: center, $justify: center);
  @include border(all, 1px, solid, color(neutral-100));
  @include button-effect("black");
}

%shared_button-arrow-disabled {
  background-color: color(neutral-10);
  color: color(neutral-60);
  @include flex(true, $align-items: center, $justify: center);
  @include border(all, 1px, solid, color(neutral-60), 100px);
}

%slides {
  transition: transform 0.5s ease-in-out;
}

%slide {
  scroll-snap-align: start;
  @include position(relative);
}

%button-effect {
  transition: all 0.5s ease-in-out;
  &:hover {
    transition: all 0.5s ease-in-out;
    color: color(neutral-100);
    background-color: color(neutral-10);
  }
  &:active {
    transition: all 0.2s ease-in-out;
    color: color(neutral-10);
    background-color: color(neutral-100);
  }
}

%blog_button-activity {
  @include spacing(padding, (x, y), 12px, 8px);
  transition: all 0.4s ease-in-out;
  text-underline-offset: 4px;
  &:hover {
    transition: all 0.4s ease-in-out;
    color: color(neutral-100);
    text-decoration: underline;
  }
}

%shared_button-grey {
  transition: all 0.4s ease-in-out;
  border-radius: 100px;
  border: 1px solid color(neutral-40);
  &:hover {
    transition: all 0.4s ease-in-out;
    border: 1px solid color(neutral-100);
    color: color(neutral-10);
    background-color: color(neutral-100);
  }
  &:active {
    transition: all 0.2s ease-in-out;
    border: 1px solid color(neutral-100);
    color: color(neutral-100);
    background-color: color(neutral-10);
  }
}
