@use "@utils-scss" as *;

.home-page {
    .main {
        @include spacing(margin, (top, bottom), 32px, 56px);
        @include respond-to(desktop) {
            @include spacing(margin, (top, bottom), 87px, 135px);
        }
        &__container {
            @include respond-to(desktop) {
                @include grid(on, repeat(2, auto), 617px 419px, "title image" "form sales-report", $justify-content: space-between);
            }
        }
        &__image {
            background-color: color(neutral-10);
            border-radius: 8px;
            @include spacing(margin, bottom, 24px);
            @include size(default, 335px, 278px);
            @include flex(on, column, $align-items: center, $gap: 12px, $justify: center);
            @include respond-to(desktop) {
                @include spacing(margin, (top, bottom), 88px, 28px);
                @include size(default, 419px, 346px);
                @include grid-item(image, null, end);
                @include flex($gap: 16px);
            }
            &-img {
                @include size(default, 294px, 208px);
                @include respond-to(desktop) {
                    @include size(default, 366px, 260px);
                }
            }
            &-text {
                @include spacing(margin, (right, left), auto, 16px);
            }
        }
        &__sales-report {
            background-color: black;
            border-radius: 6px;
            @include flex(on, $align-items: center, $justify: center);
            @include respond-to(desktop) {
                @include size(default, null, fit-content);
                @include grid-item(sales-report, null, end);
            }
            &-container {
                @include flex(on, $align-items: center, $gap: 48px);
                @include spacing(padding, y, 16px);
                @include respond-to(desktop) {
                    @include spacing(padding, y, 20px);
                    @include flex($gap: 100px);
                }
            }
        }
        .title {    
            grid-area: title;
            &__subheading {
                @include spacing(margin, top, 48px);
                @include respond-to(desktop) {
                    @include spacing(margin, top, 114px);
                }
            }
        }
        .form {
            @include flex(on, $justify: space-between, $align-items: bottom);
            @include spacing(margin, (top, bottom), 40px, 56px);
            @include respond-to(desktop) {
                @include spacing(margin, all, 0px);
                @include size(default, 471px, fit-content);
                @include grid-item(form, null, end);
                @include spacing(margin, (bottom, top), 5px, 68px);
            }
            &__input {
                @include spacing(padding, bottom, 16px);
                @include border(bottom, 1px, solid, color(neutral-60));
                @include size(default, 219px);
                @include respond-to(desktop) {
                    @include size(default, 280px);
                    @include spacing(padding, bottom, 23px);
                }
            }
            &__button {
                @include spacing(padding, (x, y), 16px, 10px);
                @include respond-to(desktop) {
                    @include spacing(padding, (x, y), 44px, 18px);
                }
            }
        }
    }
    .overview {
        background-color: color(neutral-100);
        @include spacing(padding, y, 40px);
        @include respond-to(desktop) {
            @include spacing(padding, y, 100px);
        }
        &__cards {
            @include spacing(margin, top, 32px);
            @include flex(on, $wrap: wrap, $justify: space-between, $gap: 24px);
            @include respond-to(desktop) {
                @include spacing(margin, top, 48px);
                @include flex($gap: 56px);
            }
        }
        .title {
            &__heading {
                @include respond-to(desktop) {
                    @include size(default, 816px)
                }
            }
            &__subheading {
                @include spacing(margin, top, 16px);
                @include respond-to(desktop) {
                    @include spacing(margin, top, 24px);
                    @include size(default, 660px)
                }
            }
        }
    }
    .features {
        @include spacing(padding, (top, bottom), 56px, 32px);
        @include respond-to(desktop) {
            @include spacing(padding, (top, bottom), 160px, 94px);
        }
        &__container {
            @include respond-to(desktop) {
                @include grid(on, repeat(2, auto), repeat(2, auto), "image-statistic title" "image-statistic advantages", $justify-content: space-between, $column-gap: 58px);
            }
        }
        &__image-statistic {
            @include position(relative);
            @include respond-to(desktop) {
                @include grid-item(image-statistic, null, end);
                @include size(default, 585px, 651px);
            }
        }
        &__image {
            @include image-fit(cover, center);
        }
        &__advantages {
            @include flex(on, column, $gap: 16px);
            @include respond-to(desktop) {
                @include grid-item(advantages, null, end);
                @include flex($gap: 32px);
                @include size(default, 380px);
                @include spacing(margin, bottom, 18px);
            }
        }
        .statistic {
            @include position(absolute, (right, bottom), 20px, 20px);
            background-color: color(neutral-10);
            @include size(default, 177px, 181px);
            @include flex(on, column, $justify: center);
            @include respond-to(desktop) {
                @include size(default, 290px, 298px);
                @include position(null, (right, bottom), 40px, 40px);
            }
            &__container {
                @include spacing(padding, x, 10px);
                @include respond-to(desktop) {
                    @include spacing(padding, x, 18px);
                }
            }
            &__title {
                @include flex(on, $align-items: center, $justify: space-between);
                @include spacing(margin, bottom, 11px);
                @include respond-to(desktop) {
                    @include spacing(margin, bottom, 18px);
                }
            }
            &__more {
                @include size(default, 10px);
                @include respond-to(desktop) {
                    @include size(default, 17.5px);
                }
            }
            .card-statistic {
                &:nth-child(2) {
                    @include spacing(margin, bottom, 28px);
                    @include respond-to(desktop) {
                        @include spacing(margin, bottom, 46px);
                    }
                }
            }
        }
        .title {
            @include spacing(margin, (top, bottom), 32px, 24px);
            @include respond-to(desktop) {
                @include spacing(margin, (top, bottom), 18px, 0px);
            }
            @include respond-to(desktop) {
                @include grid-item(title, null, start);
            }
            &__subheading {
                @include spacing(margin, top, 16px);
                @include respond-to(desktop) {
                    @include spacing(margin, top, 24px);
                    @include size(default, 360px)
                }
            }
            &__heading {
                @include respond-to(desktop) {
                    @include size(default, 550px);
                }
            }
        }
    }
    .growth {
        @include spacing(padding, (top, bottom), 26px, 56px);
        @include respond-to(desktop) {
            @include spacing(padding, (top, bottom), 66px, 160px)
        }
        &__results {
            @include flex(on, $justify: space-between, $align-items: center, $wrap: wrap, $gap: 16px);
            &-line {
                display: none;
                @include respond-to(desktop) {
                    display: block;
                    @include size(default, 1px, 66px);
                }
            }
        }
        &__image {
            @include size(default, 335px, 162px);
            @include image-fit(cover, center);
            @include spacing(margin, (top, bottom), 32px, 40px);
            @include respond-to(desktop) {
                @include size(default, 1200px, 536px);
                @include spacing(margin, y, 80px);
            }
        }
        .title {
            @include flex(on, column, $gap: 16px);
            @include respond-to(desktop) {
                @include flex($direction: row, $gap: 0px, $justify: space-between);
            }
            &__heading {
                @include respond-to(desktop) {
                    @include size(default, 772px);
                }
            }
            &__subheading {
                @include respond-to(desktop) {
                    @include size(default, 398px);
                }
            }
        }
    }
    .sponsor {
        @include spacing(padding, bottom, 80px);
        @include respond-to(desktop) {
            @include spacing(padding, y, 86px);
        }
    }
    .benefits {
        @include spacing(padding, bottom, 56px);
        @include respond-to(desktop) {
            @include spacing(padding, (top, bottom), 160px, 100px);
        }
        &__cards {
            @include flex(on, column, $gap: 24px);
            @include spacing(margin, top, 32px);
            @include respond-to(desktop) {
                @include flex($direction: row, $justify: space-between, $align-items: center, $row-gap: 56px, $wrap: wrap);
                @include spacing(margin, top, 80px);
            }
        }
        .title {
            @include respond-to(desktop) {
                @include size(default, 610px);
            }
            &__subheading {
                @include spacing(margin, top, 16px);
                @include respond-to(desktop) {
                    @include spacing(margin, top, 24px);
                }
            }
        }
    }
    .news {
        @include spacing(padding, bottom, 40px);
        @include respond-to(desktop) {
            @include spacing(padding, (top, bottom), 60px, 90px);
        }
        &__dragger {
            @include position(absolute, (left, top), 286px, 76px);
            @include respond-to(desktop) {
                @include size(default, 80px);
                @include position(null, (left, top), 560px, 126px);
            }
        }
        .slider {
            &__window {
                @include size(default, 100%);

            }
            &__slides {
                @include position(relative);
                @include flex(on, row-reverse, $align-items: center, $gap: 16px);
                @include size(default, fit-content);
                @include respond-to(desktop) {
                    @include flex($gap: 36px);
                }
            }
            &__slide {
                @include size(default, 300px);
                @include respond-to(desktop) {
                    @include size(default, 582px);
                }
            }
        }
        .title {
            @include spacing(margin, bottom, 32px);
            @include respond-to(desktop) {
                @include spacing(margin, bottom, 80px);
                @include flex(on, column, $align-items: center);
            }
            &__subheading {
                @include spacing(margin, top, 16px);
                @include respond-to(desktop) {
                    @include spacing(margin, top, 24px);
                }
            }
        }
    }
    .reviews {
        @include spacing(padding, (top, bottom), 17px, 80px);
        @include respond-to(desktop) {
            @include spacing(padding, (top, bottom), 70px, 160px);
        }
        &__cards {
            @include flex(on, $justify: space-between);
            @include spacing(margin, top, 58px);
            &-backtick {
                @include size(default, 32px, 21px);
                @include respond-to(desktop) {
                    @include size(default, 117px, 77px);
                }
            }
        }
        .title {
            @include size(default, 232px);
            @include respond-to(desktop) {
                @include size(default, auto);
                @include flex(on, $align-items: center, $justify: space-between);
            }
            &__heading {
                @include respond-to(desktop) {
                    @include size(default, 530px);
                }
            }
            &__subheading {
                @include spacing(margin, top, 16px);
                @include respond-to(desktop) {
                    @include spacing(margin, all, 0px);
                    @include size(default, 376px);
                }
            }
        }
    }
}
