@use "@utils-scss" as *;

.pricing-page {
    .main {
        @include spacing(padding, (top, bottom), 32px, 56px);
        @include respond-to(desktop) {
            @include spacing(padding, (top, bottom), 90px, 78px);
        }
        &__container {
            @include flex(true, column, $align-items: center);
        }
        &__title {
            text-align: center;
            @include spacing(margin, y, 16px);
            @include respond-to(desktop) {
                @include spacing(margin, (top, bottom), 24px, 56px);
            }
        }
        &__label {
            @include flex(true, $align-items: center, $gap: 12px);
            @include size(default, fit-content);
        }
        &__checkbox {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            @include size(default, 44px, 24px);
            background-color: color(neutral-30);
            border-radius: 100px;
            position: relative;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            &::before {
                content: "";
                @include position(absolute, (top, left), 2px, 2px);
                @include size(default, 20px, 20px);
                background-color: color(neutral-60);
                border-radius: 100px;
                transition: all 0.2s ease-in-out;
            }
            &:checked {
                &::before {
                    background-color: color(iris-hover);
                    transform: translateX(20px);
                }
            }
        }
        &__cards {
            @include spacing(margin, top, 56px);
            @include flex(true, $direction: column, $align-items: center, $gap: 32px);
            @include respond-to(desktop) {
                @include spacing(margin, top, 102px);
                @include flex($direction: row, $align-items: start, $justify: space-between, $gap: 0px);
            }
        }
        .card-pricing {
            &:nth-child(1),
            &:nth-child(3) {
                @include respond-to(desktop) {
                    @include spacing(margin, top, 64px);
                }
            }
        }
    }
    .questions {
        @include spacing(padding, (top, bottom), 58px, 80px);
        @include respond-to(desktop) {
            @include spacing(padding, (top, bottom), 82px, 160px);
        }
        &__cards {
            @include flex(true, $direction: column, $align-items: center, $gap: 24px);
            @include respond-to(desktop) {
                @include flex($gap: 64px);
            }
        }
        .title {
            text-align: center;
            @include size(default, 295px);
            @include spacing(margin, (x, bottom), auto, 32px);
            @include respond-to(desktop) {
                @include spacing(margin, bottom, 80px);
                @include size(default, 740px);
            }
            &__heading {
                @include spacing(margin, bottom, 16px);
                @include respond-to(desktop) {
                    @include spacing(margin, bottom, 24px);
                }
            }
        }
    }
}
