@use '@utils-scss' as *;

.header {
    @include spacing(margin, top, 24px);
    @include respond-to(desktop) {
        @include spacing(margin, y, 26px);
    }
    &__container {
        @include grid(on, repeat(2, auto), repeat(2, auto), "logo burger" "nav nav");
        @include respond-to(desktop) {
            @include flex(true, $justify: space-between, $align-items: center);
        }
    }
    &__logo {
        @include grid-item(logo, start, center);
    }
    &__button {
        @include grid-item(burger, end, center);
        @include flex(true, $justify: center, $align-items: center);
        @include size(default, fit-content, fit-content);
        @include respond-to(desktop) {
            display: none;
        }            
    }
    &__contact {
        display: none;
        @include respond-to(desktop) {
            display: block;
        }
    }
}