@use "@utils-scss" as *;

.link {
    &-nav {
        &-black {
            @extend %shared_link-nav-black;
        }
    }
    &-arrow {
        &-underline {
            @extend %shared_link-arrow-underline;
            text-decoration: underline;
            text-underline-offset: 5px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}